body {
  height: 100vh;
  position: relative;
  background-color: #DCE1DE
}
.container {
  color: black;
  
  width: 95%;

  text-align: center;
}



.subjects {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.subject__culture {
  border:2px solid black;
  font-size: 2rem;
  padding:1% 1%;
 
   margin: 2% 2%;

}

.subject__culture:hover {
  background-color: grey;
}

.subject__marketing {
  border:2px solid black;
  font-size: 2rem;
  padding:1% 1%;
  margin: 2% 2%;
    
}

.subject__marketing:hover {
  background-color: grey;
}

.subject__work {
  border:2px solid black;
 font-size: 2rem;
  padding:1% 1%;
  margin: 2% 2%;
    
}
.subject__work:hover {
  background-color: grey;
}
.subject__ideas {
  border:2px solid black;
  font-size: 2rem;
  padding:1% 1%;
  margin: 2% 2%;
   
}

.subject__ideas:hover {
  background-color: grey;
}
.subject__life {
  border:2px solid black;
font-size: 2rem;
padding:1% 1%;
margin: 2% 2%;
  }

.subject__life:hover {
  background-color: grey;
}
#quote-area {
  margin: auto 25%;
  border-radius: 3px;
  padding: 70px 0;

  
}
#copyBtn {
 border:2px solid black;
  font-size: 1.5rem;
  padding:1% 1%;
  
}

#copyBtn:hover {
  background-color: grey;
}

#tweetBtn {
border:2px solid black;
 font-size: 1.5rem;
  padding:1% 1%;
  margin: 0 10px;
}

#tweetBtn:hover {
  background-color: grey;
}

#soundBtn {
 border:2px solid black;
font-size: 1.5rem;
  padding:1% 1%;
  
   
}

#soundBtn:hover {
  background-color: grey;
}

.action_btns {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  display:flex;
  justify-content:center;
  
  
}
