body {
  height: 100vh;
  position: relative;
}
.container {
  color: black;
  background-color: white;
  width: 100%;

  text-align: center;
}

#quote-area {
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: aqua;
}

.buttons {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.subjects {
  display: flex;
  justify-content: center;
}
