body {
  height: 100vh;
  position: relative;
  background-color: #DCE1DE
}
.container {
  color: black;
  
  width: 100%;

  text-align: center;
}



.subjects {
  display: flex;
  justify-content: space-evenly;
  margin-right: 25%;
  margin-left: 25%;
}

.subject__culture {
  border:2px solid black;
  font-size: 3vh;
  padding:1% 1%;
  margin: 3% 3%;

}

.subject__culture:hover {
  background-color: grey;
}

.subject__marketing {
  border:2px solid black;
  font-size: 3vh;
  padding:1% 1%;
    margin: 3% 3%;
}

.subject__marketing:hover {
  background-color: grey;
}

.subject__work {
  border:2px solid black;
  font-size: 3vh;
  padding:1% 1%;
    margin: 3% 3%;
}
.subject__work:hover {
  background-color: grey;
}
.subject__ideas {
  border:2px solid black;
  font-size: 3vh;
  padding:1% 1%;
    margin: 3% 3%;
}

.subject__ideas:hover {
  background-color: grey;
}
.subject__life {
  border:2px solid black;
font-size: 3vh;
padding:1% 1%;
  margin: 3% 3%;}

.subject__life:hover {
  background-color: grey;
}
#quote-area {
  margin: 10% 20%;
  border-radius: 3px;
  
}
#copyBtn {
 border:2px solid black;
  padding:10% 10%;
}

#copyBtn:hover {
  background-color: grey;
}

#tweetBtn {
border:2px solid black;
 padding:10% 10%;
}

#tweetBtn:hover {
  background-color: grey;
}

#soundBtn {
 border:2px solid black;
 padding:10% 10%;
}

#soundBtn:hover {
  background-color: grey;
}

.action_btns {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  margin-right: 25%;
  margin-left: 25%;
}
